<body>
    <div class="flex-container">
        <div>
            <a  href="" class="flex-container">
                <div>
                    <mat-icon>add_shopping_cart</mat-icon>
                </div>
                <div>
                    <span class="spanBold">عربة التسوق</span>
                </div>
            </a>
        </div> <mat-divider [vertical]="true"></mat-divider>
        <div>
            <a href="" class="flex-container">
                <div>
                <mat-icon>account_circle</mat-icon>
            </div>
            <div>
                <span class="spanBold">تسجيل دخول</span>
            </div>
            </a>
        </div> <mat-divider [vertical]="true"></mat-divider>
        <div>
            <a href=""><span>English</span></a>
        </div>
        <div>
            <input class="search"  type="text" placeholder="انت بدور على اية؟">
        </div>
        <div class="location">
            <a href="">
            <mat-icon>keyboard_arrow_down</mat-icon>
            <span>تسليم الى</span><br>
            <span class="spanBold">{{city}}</span><img class="flag" alt="Egypt"
                src="https://purecatamphetamine.github.io/country-flag-icons/3x2/EG.svg" />
            </a>
        </div>
        <div>
            <a href="">
                <img class="noonLogo" src="https://f.nooncdn.com/s/app/com/noon/design-system/logos/noon-logo-ar.svg" alt="noon-logo">
            </a>
        </div>
    </div>
</body>