<body style="background-color: #f7f7f7; height: 100px;" >
<div>
<app-navigation-bar></app-navigation-bar>
<div style=" padding-left: 14%">
<div class="dropdown" style="float:left;">
    <button class="dropbtn" style="color: red; font-weight:bold;">عروض</button>
    </div>
    <div class="dropdown" style="float:left;">
        <button class="dropbtn" style="font-weight:bold;">بيع فى نون</button>
        </div>
<div class="dropdown" style="float:left;">
    <button class="dropbtn" height="10px" style="font-weight:bold;">سوبر ماركت</button>
    <div class="dropdown-content " height="25%">
        <span class="fw-bolder" style="margin-left:75% ;font-weight:bold;">افضل الماركات</span>
        <div class="d-flex flex-row" style="justify-content: space-between;">
        <div class="d-flex flex-row">
            <div >
            <a href="" class=" ms-3"><img   width="70%" height="80%"
                    src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/ar_drop-07.png"
                    alt=""></a>
                </div>
                <div>
            <a href=""><img width="100%" height="100%"
                    src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/ar_drop-06.png"
                    alt=""></a>
                </div>
        </div>
        <div class="flex-column">
            <div class="flex-row">
                <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="    https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-22.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src=" https://z.nooncdn.com/cms/pages/20201024/eb6118b9a646288549dc9fbe0d894aab/en_gr-drop-brand-01.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-27.png"
                    alt=""></a></div>
                </div>
             <br>
             <div class="flex-row">
                <div >
            <a  href=""><img style="width:100px;height: 100px; border:black 1px; padding: 4px;"
                    src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-24.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/cms/pages/20201024/eb6118b9a646288549dc9fbe0d894aab/en_gr-drop-brand-02.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-28.png"
                    alt=""></a></div>
                </div>
            <br>
            <div class="flex-row">
                <div >
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/cms/pages/20201024/eb6118b9a646288549dc9fbe0d894aab/en_gr-drop-brand-04.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-21.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/cms/pages/20201024/eb6118b9a646288549dc9fbe0d894aab/en_gr-drop-brand-03.png"
                    alt=""></a></div>
                </div>
                <div style="float: right;">
                    <a href="#">الأغذية المعلبة والجافة والمعبأة</a>
                    <a href="#">المشروبات</a>
                    <a href="#">العناية ونظافة المنزل</a>
                    <a href="#"> طعام خفيف </a>
                    <a href="#">طعام الإفطار</a>
                </div>
        </div>
    </div>
</div>
</div>


<div class="dropdown" style="float:left;">
    <button class="dropbtn" style="font-weight:bold;">الاطفال و الالعاب</button>
    <div class="dropdown-content" style="left:0; padding-top: 50px; height: 500px;">
        <span style="margin-left:75% ;font-weight:bold; ">افضل الماركات</span>
        <div class="flex-row" style="justify-content: space-between;">
        <div class="flex-row">
            <div >
            <a href=""><img style="width:250px;height: 600;"
                    src="https://z.nooncdn.com/cms/pages/20201011/0533a81bc35c9531f46de4aab2c014bb/ar_drop-02.png"
                    alt=""></a>
                </div>
                <div>
            <a href=""><img style="width:280px;height: 400px;"
                    src="https://z.nooncdn.com/cms/pages/20201011/0533a81bc35c9531f46de4aab2c014bb/ar_drop-01.png"
                    alt=""></a>
                </div>
        </div>
        <div class="flex-column">
            <div class="flex-row">
                <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/cms/pages/20200218/9550075ec310e5ff3d18674107fb1ad6/drop-brand-03.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src=" https://z.nooncdn.com/cms/pages/20200218/9550075ec310e5ff3d18674107fb1ad6/drop-brand-02.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/rn/brands_v1/pampers.png"
                    alt=""></a></div>
                </div>
             <br>
             <div class="flex-row">
                <div >
            <a  href=""><img style="width:100px;height: 100px; border:black 1px; padding: 4px;"
                    src="https://z.nooncdn.com/rn/brands_v1/sanosan.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/rn/brands_v1/chicco.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/rn/brands_v1/baby_joy.png"
                    alt=""></a></div>
                </div>
            <br>
            <div class="flex-row">
                <div >
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/cms/pages/20210110/66568160ae74796c473878aecdde766e/drop-brand-01.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/cms/pages/20200218/9550075ec310e5ff3d18674107fb1ad6/drop-brand-08.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/rn/brands_v1/philips_avent.png"
                    alt=""></a></div>
                </div>
        </div>
        <div style="float: right;">
            <a href="#">منتجات سلامة الأطفال</a>
            <a href="#">الحفاضات والحقائب</a>
            <a href="#">الاستحمام والعناية بالبشرة</a>
            <a href="#">مستلزمات الرضاعة والإطعام </a>
            <a href="#">مقاعد السيارات وعربات الأطفال </a>
            <a href="#">كراسي الأطفال والمراجيح</a>
        </div>
    </div>
</div>
</div>

<div class="dropdown" style="float:left;">
    <button class="dropbtn" style="font-weight:bold;">الجمال و العطور</button>
    <div class="dropdown-content" style="left:0; padding-top: 50px; height: 500px;">
        <span style="margin-left:75% ;font-weight:bold; ">افضل الماركات</span>
        <div class="flex-row" style="justify-content: space-between;">
        <div class="flex-row">
            <div >
            <a href=""><img style="width:250px;height: 600;"
                    src="https://z.nooncdn.com/cms/pages/20201012/fc493eddfffabd9a2ed25d7b9b71d24c/ar_drop-02.png"
                    alt=""></a>
                </div>
                <div>
            <a href=""><img style="width:280px;height: 400px;"
                    src="https://a.nooncdn.com/cms/pages/20220912/8ae729efaf8cd9aca434a3cc62ac3297/ar_dk_eg-drop-01.png"
                    alt=""></a>
                </div>
        </div>
        <div class="flex-column">
            <div class="flex-row">
                <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210810/180a4f2ef177636df4da9e64214ba999/drop-brand-10.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src=" https://z.nooncdn.com/rn/brands_v1/loreal.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/rn/brands_v1/maybelline.png"
                    alt=""></a></div>
                </div>
             <br>
             <div class="flex-row">
                <div >
            <a  href=""><img style="width:100px;height: 100px; border:black 1px; padding: 4px;"
                    src="https://z.nooncdn.com/cms/pages/20201007/589e7877ac23c170f24d1312f1bcd355/en_drop-brand-04.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/cms/pages/20201007/589e7877ac23c170f24d1312f1bcd355/en_drop-brand-05.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/cms/pages/20201012/53c6371788f18baff680ffaa18b380b3/en_drop-brand-06.png"
                    alt=""></a></div>
                </div>
            <br>
            <div class="flex-row">
                <div >
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-18.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/cms/pages/20201007/589e7877ac23c170f24d1312f1bcd355/en_drop-brand-02.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/rn/brands_v1/essence.png"
                    alt=""></a></div>
                </div>
        </div>
        <div style="float: right;">
            <a href="#">عطور</a>
            <a href="#"> مستحضرات تجميل</a>
            <a href="#">عناية بالشعر </a>
            <a href="#">عناية بالبشرة</a>
            <a href="#">العنايةالشخصية</a>
            <a href="#">منتجات الرعاية الصحية</a>
        </div>
    </div>
</div>
</div>
<div class="dropdown" style="float:left;">
    <button class="dropbtn" style="font-weight:bold;">منزل</button>
    <div class="dropdown-content" style="left:0; padding-top: 50px; height: 500px;">
        <span style="margin-left:75% ;font-weight:bold; ">افضل الماركات</span>
        <div class="flex-row" style="justify-content: space-between;">
        <div class="flex-row">
            <div >
            <a href=""><img style="width:250px;height: 600;"
                    src="https://z.nooncdn.com/cms/pages/20200211/a4434d79fa27923799e439818a30d655/ar_drop-02.png"
                    alt=""></a>
                </div>
                <div>
            <a href=""><img style="width:280px;height: 400px;"
                    src="https://z.nooncdn.com/cms/pages/20200211/a4434d79fa27923799e439818a30d655/ar_drop-01.png"
                    alt=""></a>
                </div>
        </div>
        <div class="flex-column">
            <div class="flex-row">
                <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-11.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src=" https://z.nooncdn.com/rn/brands_v1/toshiba.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/rn/brands_v1/tornado.png"
                    alt=""></a></div>
                </div>
             <br>
             <div class="flex-row">
                <div >
            <a  href=""><img style="width:100px;height: 100px; border:black 1px; padding: 4px;"
                    src="https://z.nooncdn.com/rn/brands_v1/black_decker.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/rn/brands_v1/mienta.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-12.png"
                    alt=""></a></div>
                </div>
            <br>
            <div class="flex-row">
                <div >
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-15.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-14.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-13.png"
                    alt=""></a></div>
                </div>
        </div>
        <div style="float: right;">
            <a href="#">الأجهزة المنزلية</a>
            <a href="#"> الأجهزة المنزلية الكبيرة </a>
            <a href="#">أدوات الطهي </a>
            <a href="#"> أدوات الشرب</a>
            <a href="#">الحمامات و مستلزمات السرير</a>
            <a href="#">  الأدوات وتحسين المنزل</a>
        </div>
    </div>
</div>
</div>
<div class="dropdown" style="float:left;">
    <button class="dropbtn" style="font-weight:bold;">نسائية</button>
    <div class="dropdown-content" style="left:0; padding-top: 50px; height: 500px;">
        <span style="margin-left:75% ;font-weight:bold; ">افضل الماركات</span>
        <div class="flex-row" style="justify-content: space-between;">
        <div class="flex-row">
            <div >
            <a href=""><img style="width:250px;height: 600;"
                    src="https://a.nooncdn.com/cms/pages/20220522/f98b0c088a83d0e3925769b0539dccfd/ar_drop-02.png"
                    alt=""></a>
                </div>
                <div>
            <a href=""><img style="width:280px;height: 400px;"
                    src="https://a.nooncdn.com/cms/pages/20220522/f98b0c088a83d0e3925769b0539dccfd/ar_drop-01.png"
                    alt=""></a>
                </div>
        </div>
        <div class="flex-column">
            <div class="flex-row">
                <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-03.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src=" https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-02.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210906/95b6db6326d3c20de69ffa76c8b5658f/drop-brand-11.png"
                    alt=""></a></div>
                </div>
             <br>
             <div class="flex-row">
                <div >
            <a  href=""><img style="width:100px;height: 100px; border:black 1px; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-06.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-05.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-04.png"
                    alt=""></a></div>
                </div>
            <br>
            <div class="flex-row">
                <div >
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20211103/4f08f1a1034ebaca12d225ea069c798a/drop-brand-01.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-08.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-07.png"
                    alt=""></a></div>
                </div>
        </div>
        <div style="float: right;">
            <a href="#">اجدد علروض الموضة</a>
            <a href="#"> ازياء نسائية</a>
            <a href="#">احذية</a>
            <a href="#"> ساعات</a>
            <a href="#">المجوهرات</a>
            <a href="#"> النظارات</a>
            <a href="">شنط اليد</a>
        </div>
    </div>
</div>
</div>
<div class="dropdown" style="float:left;">
    <button class="dropbtn" style="font-weight:bold;">رجالية</button>
    <div class="dropdown-content" style="left:0; padding-top: 50px; height: 500px;">
        <span style="margin-left:75% ;font-weight:bold; ">افضل الماركات</span>
        <div class="flex-row" style="justify-content: space-between;">
        <div class="flex-row">
            <div >
            <a href=""><img style="width:250px;height: 600;"
                    src="https://a.nooncdn.com/cms/pages/20220522/f98b0c088a83d0e3925769b0539dccfd/ar_drop-02.png"
                    alt=""></a>
                </div>
                <div>
            <a href=""><img style="width:280px;height: 400px;"
                    src="https://a.nooncdn.com/cms/pages/20220522/f98b0c088a83d0e3925769b0539dccfd/ar_drop-01.png"
                    alt=""></a>
                </div>
        </div>
        <div class="flex-column">
            <div class="flex-row">
                <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-03.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src=" https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-02.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210906/95b6db6326d3c20de69ffa76c8b5658f/drop-brand-11.png"
                    alt=""></a></div>
                </div>
             <br>
             <div class="flex-row">
                <div >
            <a  href=""><img style="width:100px;height: 100px; border:black 1px; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-06.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-05.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-04.png"
                    alt=""></a></div>
                </div>
            <br>
            <div class="flex-row">
                <div >
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20211103/4f08f1a1034ebaca12d225ea069c798a/drop-brand-01.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-08.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-07.png"
                    alt=""></a></div>
                </div>
        </div>
        <div style="float: right;">
            <a href="#">اجدد علروض الموضة</a>
            <a href="#"> ازياء نسائية</a>
            <a href="#">احذية</a>
            <a href="#"> ساعات</a>
            <a href="#">المجوهرات</a>
            <a href="#"> النظارات</a>
            <a href="">شنط اليد</a>
        </div>
    </div>
</div>
</div>
<div class="dropdown" style="float:left;">
    <button class="dropbtn" style="font-weight:bold;">موبيلات</button>
    <div class="dropdown-content" style="left:0; padding-top: 50px; height: 500px;">
        <span style="margin-left:75% ;font-weight:bold; ">افضل الماركات</span>
        <div class="flex-row" style="justify-content: space-between;">
        <div class="flex-row">
            <div >
            <a href=""><img style="width:250px;height: 600;"
                    src="https://a.nooncdn.com/cms/pages/20220522/f98b0c088a83d0e3925769b0539dccfd/ar_drop-02.png"
                    alt=""></a>
                </div>
                <div>
            <a href=""><img style="width:280px;height: 400px;"
                    src="https://a.nooncdn.com/cms/pages/20220522/f98b0c088a83d0e3925769b0539dccfd/ar_drop-01.png"
                    alt=""></a>
                </div>
        </div>
        <div class="flex-column">
            <div class="flex-row">
                <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-03.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src=" https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-02.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210906/95b6db6326d3c20de69ffa76c8b5658f/drop-brand-11.png"
                    alt=""></a></div>
                </div>
             <br>
             <div class="flex-row">
                <div >
            <a  href=""><img style="width:100px;height: 100px; border:black 1px; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-06.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-05.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-04.png"
                    alt=""></a></div>
                </div>
            <br>
            <div class="flex-row">
                <div >
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20211103/4f08f1a1034ebaca12d225ea069c798a/drop-brand-01.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-08.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-07.png"
                    alt=""></a></div>
                </div>
        </div>
        <div style="float: right;">
            <a href="#">اجدد علروض الموضة</a>
            <a href="#"> ازياء نسائية</a>
            <a href="#">احذية</a>
            <a href="#"> ساعات</a>
            <a href="#">المجوهرات</a>
            <a href="#"> النظارات</a>
            <a href="">شنط اليد</a>
        </div>
    </div>
</div>
</div>
<div class="dropdown" style="float:left;">
    <button class="dropbtn" style="font-weight:bold;">الالكترونيات</button>
    <div class="dropdown-content" style="left:0; padding-top: 50px; height: 500px;">
        <span style="margin-left:75% ;font-weight:bold; ">افضل الماركات</span>
        <div class="flex-row" style="justify-content: space-between;">
        <div class="flex-row">
            <div >
            <a href=""><img style="width:250px;height: 600;"
                    src="https://a.nooncdn.com/cms/pages/20220522/f98b0c088a83d0e3925769b0539dccfd/ar_drop-02.png"
                    alt=""></a>
                </div>
                <div>
            <a href=""><img style="width:280px;height: 400px;"
                    src="https://a.nooncdn.com/cms/pages/20220522/f98b0c088a83d0e3925769b0539dccfd/ar_drop-01.png"
                    alt=""></a>
                </div>
        </div>
        <div class="flex-column">
            <div class="flex-row">
                <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-03.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src=" https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-02.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210906/95b6db6326d3c20de69ffa76c8b5658f/drop-brand-11.png"
                    alt=""></a></div>
                </div>
             <br>
             <div class="flex-row">
                <div >
            <a  href=""><img style="width:100px;height: 100px; border:black 1px; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-06.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-05.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-04.png"
                    alt=""></a></div>
                </div>
            <br>
            <div class="flex-row">
                <div >
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20211103/4f08f1a1034ebaca12d225ea069c798a/drop-brand-01.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-08.png"
                    alt=""></a></div>
                    <div>
            <a  href=""><img style="width:100px;height: 100px; border: 1px black; padding: 4px;"
                    src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-07.png"
                    alt=""></a></div>
                </div>
        </div>
        <div style="float: right;">
            <a href="#">اجدد علروض الموضة</a>
            <a href="#"> ازياء نسائية</a>
            <a href="#">احذية</a>
            <a href="#"> ساعات</a>
            <a href="#">المجوهرات</a>
            <a href="#"> النظارات</a>
            <a href="">شنط اليد</a>
        </div>
    </div>
</div>
</div>
<div class="dropdown"  >
    <button class="dropbtn" style="font-weight:bold; color: blue; padding-top: 3%;padding-left: 6%; width: 300%; border-left: rgb(224, 221, 221) 1px solid" ><mat-icon style="color: blue;">keyboard_arrow_down</mat-icon>  جميع الفئات</button>
    <div class="dropdownContent" >
        <div class="flex-column">
        <div >
            <a class="subDropDown" href=""  style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">الإلكترونيات</a>
            <div class="submenuContent" style="width: 30%; height:50%; margin-right: 20%; 	visibility: hidden;">
                <span class="submenuContent"  style="float: right; font-size: 1.25rem;font-weight: 700;color: rgb(64, 69, 83);">الالكترونيات</span>
            </div>
        </div>
        <div>
            <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">الموبايلات</a>
        </div>
        <div>
            <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">البقالة</a>
        </div>
        <div>
            <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">'الجمال والعناية الشخصية</a>
        </div>
        <div>

            <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">الأزياء</a>
        </div>
         <div>

             <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">المنزل والمطبخ</a>
         </div>
         <div>

             <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">'الرياضة واللياقة البدنية</a>
         </div>
         <div>

             <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">منتجات الأطفال</a>
         </div>
         <div>

             <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">مستلزمات السيارات</a>
         </div>
         <div>

             <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">الكتب</a>
         </div>
         <div>

             <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">الموسيقى</a>
         </div>
         <div>
            <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">منتجات الأطفال</a>
         </div>
         <div>
            <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">مستلزمات السيارات</a>
         </div>
         <div>
            <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">الكتب</a>
         </div>
         <div>
            <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">لوازم المكتب</a>
         </div>
         <div>
            <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">الموسيقى</a>
         </div>
        </div>
</div>
</div>
</div>
</div>
</body>
