<app-navigation-bar></app-navigation-bar>
<ul class="nav nav-tabs justify-content-center" >
    <li class="nav-item">
      <a class="nav-link fw-bolder" style="color: red;" aria-current="page" href="#">العروض</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-dark fw-bolder" aria-current="page" href="#">بيع فى نون</a>
      </li>
    <li class="nav-item dropdown">
      <a class="nav-link link-dark fw-bolder" href="#" role="button" aria-expanded="false">سوبر ماركت</a>
      <div class="dropdown-menu " style="left:0;">
        <div class="d-flex flex-row ">
        <div class="row ">
            <div class="col ms-2">
            <a href=""><img width="240px" height="370px"
                    src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/ar_drop-07.png"
                    alt=""></a>
                </div>
                <div class="col">
            <a href=""><img width="250px" height="370px"
                    src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/ar_drop-06.png"
                    alt=""></a>
                </div>
        </div>
        <div class="ms-4" >
            <div class="row">
                <div class="col col-lg-2 border">
            <a  href=""><img width="100px" height="110px" 
                    src="    https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-22.png"
                    alt=""></a></div>
                    <div class="col col-lg-2 border">
            <a  href=""><img width="100px" height="110px"
                    src=" https://z.nooncdn.com/cms/pages/20201024/eb6118b9a646288549dc9fbe0d894aab/en_gr-drop-brand-01.png"
                    alt=""></a></div>
                    <div class="col col col-lg-2 border">
            <a  href=""><img width="100px" height="110px"
                    src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-27.png"
                    alt=""></a></div>
                </div>
             <br>
             <div class="row">
                <div class="col col-lg-2 border" >
            <a  href=""><img width="100px" height="110px"
                    src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-24.png"
                    alt=""></a></div>
                    <div class="col col-lg-2 border">
            <a  href=""><img width="100px" height="110px"
                    src="https://z.nooncdn.com/cms/pages/20201024/eb6118b9a646288549dc9fbe0d894aab/en_gr-drop-brand-02.png"
                    alt=""></a></div>
                    <div class="col col-lg-2 border">
            <a  href=""><img width="100px" height="110px"
                    src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-28.png"
                    alt=""></a></div>
                </div>
            <br>
            <div class="row">
                <div class="col col-lg-2 border" >
            <a  href=""><img width="100px" height="110px"
                    src="https://z.nooncdn.com/cms/pages/20201024/eb6118b9a646288549dc9fbe0d894aab/en_gr-drop-brand-04.png"
                    alt=""></a></div>
                    <div class="col col-lg-2 border">
            <a  href=""><img width="80%" height="80%"
                    src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-21.png"
                    alt=""></a></div>
                    <div class="col col-lg-2 border">
            <a  href=""><img width="80%" height="80%"
                    src="https://z.nooncdn.com/cms/pages/20201024/eb6118b9a646288549dc9fbe0d894aab/en_gr-drop-brand-03.png"
                    alt=""></a></div>
                </div>
        </div>
        <div class="d-flex flex-column" style="float:right;">
            <div><a width="50px" height="50px" class="text-decoration-none link-dark" href="#"><span>الأغذية المعلبة</span><br><span></span></a></div>
            <div><a class="text-decoration-none link-dark" href="#">المشروبات</a></div>
            <div><a class="text-decoration-none link-dark" href="#">العناية ونظافة المنزل</a></div>
            <div> <a class="text-decoration-none link-dark" href="#"> طعام خفيف </a></div>
            <div><a class="text-decoration-none link-dark" href="#">طعام الإفطار</a></div>
        </div>
    </div>
      </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link link-dark fw-bolder" href="#" role="button" aria-expanded="false">الاطفال و الالعاب</a>
        <div class="dropdown-menu " style="left:0;">
          <div class="d-flex flex-row ">
          <div class="row ">
              <div class="col ms-2">
              <a href=""><img width="240px" height="370px"
                src="https://z.nooncdn.com/cms/pages/20201012/fc493eddfffabd9a2ed25d7b9b71d24c/ar_drop-02.png"
                alt=""></a>
                  </div>
                  <div class="col">
              <a href=""><img width="250px" height="370px"
                src="https://a.nooncdn.com/cms/pages/20220912/8ae729efaf8cd9aca434a3cc62ac3297/ar_dk_eg-drop-01.png"
                alt=""></a>
                  </div>
          </div>
          <div class="ms-4" >
              <div class="row">
                  <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px" 
                src="https://a.nooncdn.com/cms/pages/20210810/180a4f2ef177636df4da9e64214ba999/drop-brand-10.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src=" https://z.nooncdn.com/rn/brands_v1/loreal.png"
                alt=""></a></div>
                      <div class="col col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/rn/brands_v1/maybelline.png"
                alt=""></a></div>
                  </div>
               <br>
               <div class="row">
                  <div class="col col-lg-2 border" >
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/cms/pages/20201007/589e7877ac23c170f24d1312f1bcd355/en_drop-brand-04.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/cms/pages/20201007/589e7877ac23c170f24d1312f1bcd355/en_drop-brand-05.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/cms/pages/20201012/53c6371788f18baff680ffaa18b380b3/en_drop-brand-06.png"
                alt=""></a></div>
                  </div>
              <br>
              <div class="row">
                  <div class="col col-lg-2 border" >
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-18.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="80%" height="80%"
                src="https://z.nooncdn.com/cms/pages/20201007/589e7877ac23c170f24d1312f1bcd355/en_drop-brand-02.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="80%" height="80%"
                src="https://z.nooncdn.com/rn/brands_v1/essence.png"
                alt=""></a></div>
                  </div>
          </div>
          <div class="d-flex flex-column me-5">
            <div><a width="50px" height="50px" class="text-decoration-none link-dark" href="#">عطور</a></div> 
            <div><a class="text-decoration-none link-dark" href="#">عناية بالشعر </a></div> 
             <div><a class="text-decoration-none link-dark" href="#">الاستحمام والعناية بالبشرة</a></div>
             <div><a class="text-decoration-none link-dark" href="#">العنايةالشخصية</a></div>
             <div><a class="text-decoration-none link-dark" href="#">منتجات الرعاية الصحية</a></div>
           </div>
      </div>
        </div>
      </li>
    <li class="nav-item dropdown">
        <a class="nav-link link-dark fw-bolder" href="#" role="button" aria-expanded="false">الجمال و العطور</a>
        <div class="dropdown-menu " style="left:0;">
          <div class="d-flex flex-row ">
          <div class="row ">
              <div class="col ms-2">
              <a href=""><img width="240px" height="370px"
                src="https://z.nooncdn.com/cms/pages/20201011/0533a81bc35c9531f46de4aab2c014bb/ar_drop-02.png"
                alt=""></a>
                  </div>
                  <div class="col">
              <a href=""><img width="250px" height="370px"
                src="https://z.nooncdn.com/cms/pages/20201011/0533a81bc35c9531f46de4aab2c014bb/ar_drop-01.png"
                alt=""></a>
                  </div>
          </div>
          <div class="ms-4" >
              <div class="row">
                  <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px" 
                src="https://z.nooncdn.com/cms/pages/20200218/9550075ec310e5ff3d18674107fb1ad6/drop-brand-03.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src=" https://z.nooncdn.com/cms/pages/20200218/9550075ec310e5ff3d18674107fb1ad6/drop-brand-02.png"
                alt=""></a></div>
                      <div class="col col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/rn/brands_v1/pampers.png"
                alt=""></a></div>
                  </div>
               <br>
               <div class="row">
                  <div class="col col-lg-2 border" >
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/rn/brands_v1/sanosan.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/rn/brands_v1/chicco.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/rn/brands_v1/baby_joy.png"
                alt=""></a></div>
                  </div>
              <br>
              <div class="row">
                  <div class="col col-lg-2 border" >
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/cms/pages/20210110/66568160ae74796c473878aecdde766e/drop-brand-01.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="80%" height="80%"
                src="https://z.nooncdn.com/cms/pages/20200218/9550075ec310e5ff3d18674107fb1ad6/drop-brand-08.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="80%" height="80%"
                src="https://z.nooncdn.com/rn/brands_v1/philips_avent.png"
                alt=""></a></div>
                  </div>
          </div>
          <div class="d-flex flex-column" style="float:right;">
            <div><a width="50px" height="50px" class="text-decoration-none link-dark" href="#">منتجات سلامة الأطفال</a></div> 
            <div><a class="text-decoration-none link-dark" href="#">الحفاضات والحقائب</a></div> 
             <div><a class="text-decoration-none link-dark" href="#">الاستحمام والعناية بالبشرة</a></div>
             <div><a class="text-decoration-none link-dark" href="#">مستلزمات الرضاعة والإطعام </a></div>
             <div><a class="text-decoration-none link-dark" href="#">مقاعد السيارات وعربات الأطفال </a></div>
             <div><a class="text-decoration-none link-dark" href="#">كراسي الأطفال والمراجيح</a></div>
           </div>
      </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link link-dark fw-bolder" href="#" role="button" aria-expanded="false">المنزل</a>
        <div class="dropdown-menu " style="left:0;">
          <div class="d-flex flex-row ">
          <div class="row ">
              <div class="col ms-2">
              <a href=""><img width="240px" height="370px"
                src="https://z.nooncdn.com/cms/pages/20200211/a4434d79fa27923799e439818a30d655/ar_drop-02.png"
                alt=""></a>
                  </div>
                  <div class="col">
              <a href=""><img width="250px" height="370px"
                src="https://z.nooncdn.com/cms/pages/20200211/a4434d79fa27923799e439818a30d655/ar_drop-01.png"
                alt=""></a>
                  </div>
          </div>
          <div class="ms-4" >
              <div class="row">
                  <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px" 
                src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-11.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src=" https://z.nooncdn.com/rn/brands_v1/toshiba.png"
                alt=""></a></div>
                      <div class="col col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/rn/brands_v1/tornado.png"
                alt=""></a></div>
                  </div>
               <br>
               <div class="row">
                  <div class="col col-lg-2 border" >
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/rn/brands_v1/black_decker.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/rn/brands_v1/mienta.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-12.png"
                alt=""></a></div>
                  </div>
              <br>
              <div class="row">
                  <div class="col col-lg-2 border" >
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-15.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="80%" height="80%"
                src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-14.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="80%" height="80%"
                src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-13.png"
                alt=""></a></div>
                  </div>
          </div>
          <div class="d-flex flex-column" style="float:right; right: 100px;">
            <div><a width="50px" height="50px" class="text-decoration-none link-dark" href="#">منتجات سلامة الأطفال</a></div> 
            <div><a class="text-decoration-none link-dark" href="#"> الأجهزة المنزلية الكبيرة</a></div> 
             <div><a class="text-decoration-none link-dark" href="#">أدوات الطهي </a></div>
             <div><a class="text-decoration-none link-dark" href="#"> أدوات الشرب</a></div>
             <div><a class="text-decoration-none link-dark" href="#">الحمامات و مستلزمات السرير</a></div>
             <div><a class="text-decoration-none link-dark" href="#">  الأدوات وتحسين المنزل</a></div>
           </div>
      </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link link-dark fw-bolder" href="#" role="button" aria-expanded="false">نسائية</a>
        <div class="dropdown-menu " style="left:0;">
          <div class="d-flex flex-row ">
          <div class="row ">
              <div class="col ms-2">
              <a href=""><img width="240px" height="370px"
                src="https://a.nooncdn.com/cms/pages/20220522/f98b0c088a83d0e3925769b0539dccfd/ar_drop-02.png"
                alt=""></a>
                  </div>
                  <div class="col">
              <a href=""><img width="250px" height="370px"
                src="https://a.nooncdn.com/cms/pages/20220522/f98b0c088a83d0e3925769b0539dccfd/ar_drop-01.png"
                alt=""></a>
                  </div>
          </div>
          <div class="ms-4" >
              <div class="row">
                  <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px" 
                src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-03.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src=" https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-02.png"
                alt=""></a></div>
                      <div class="col col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://a.nooncdn.com/cms/pages/20210906/95b6db6326d3c20de69ffa76c8b5658f/drop-brand-11.png"
                alt=""></a></div>
                  </div>
               <br>
               <div class="row">
                  <div class="col col-lg-2 border" >
              <a  href=""><img width="100px" height="110px"
                src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-06.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-05.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-04.png"
                alt=""></a></div>
                  </div>
              <br>
              <div class="row">
                  <div class="col col-lg-2 border" >
              <a  href=""><img width="100px" height="110px"
                src="https://a.nooncdn.com/cms/pages/20211103/4f08f1a1034ebaca12d225ea069c798a/drop-brand-01.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="80%" height="80%"
                src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-08.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="80%" height="80%"
                src="https://a.nooncdn.com/cms/pages/20210824/c7b46b2ad6067ea7752181e760340c90/drop-brand-07.png"
                alt=""></a></div>
                  </div>
          </div>
          <div class="d-flex flex-column" style="float:right; right: 100px;">
            <div><a class="text-decoration-none link-dark" href="#"> ازياء نسائية</a></div> 
             <div><a class="text-decoration-none link-dark" href="#">احذية</a></div>
             <div><a class="text-decoration-none link-dark" href="#"> ساعات</a></div>
             <div><a class="text-decoration-none link-dark" href="#">المجوهرات</a></div>
             <div><a class="text-decoration-none link-dark" href="#"> النظارات</a></div>
             <div><a class="text-decoration-none link-dark" href="#">شنط اليد</a></div>

           </div>
      </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link link-dark fw-bolder" href="#" role="button" aria-expanded="false">رجالية</a>
        <div class="dropdown-menu " style="left:0;">
          <div class="d-flex flex-row ">
          <div class="row ">
              <div class="col ms-2">
              <a href=""><img width="240px" height="370px"
src="https://a.nooncdn.com/cms/pages/20221016/6cfb72a7bffd45a0563077a14396f7cb/ar_dk_eg-drop-02.png"                alt=""></a>
                  </div>
                  <div class="col">
              <a href=""><img width="250px" height="370px"
                src="https://a.nooncdn.com/cms/pages/20221016/6cfb72a7bffd45a0563077a14396f7cb/ar_dk_eg-drop-01.png"
                alt=""></a>
                  </div>
          </div>
          <div class="ms-4" >
              <div class="row">
                  <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px" 
                src="https://a.nooncdn.com/cms/pages/20211103/4f08f1a1034ebaca12d225ea069c798a/drop-brand-01.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src=" https://a.nooncdn.com/cms/pages/20221012/37f037c8d251917918ba38da763fbb60/en_mb_eg-logo-02.png"
                alt=""></a></div>
                      <div class="col col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://a.nooncdn.com/cms/pages/20210824/a985b37cdf68df0944d99557dedd0372/drop-brand-02.png"
                alt=""></a></div>
                  </div>
               <br>
               <div class="row">
                  <div class="col col-lg-2 border" >
              <a  href=""><img width="100px" height="110px"
                src="https://a.nooncdn.com/cms/pages/20221017/493fcd0ec3866b52742caa8ef9259152/en_dk_eg-logo-05.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://a.nooncdn.com/cms/pages/20221012/37f037c8d251917918ba38da763fbb60/en_mb_eg-logo-03.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://a.nooncdn.com/cms/pages/20221012/37f037c8d251917918ba38da763fbb60/en_mb_eg-logo-04.png"
                alt=""></a></div>
                  </div>
              <br>
              <div class="row">
                  <div class="col col-lg-2 border" >
              <a  href=""><img width="100px" height="110px"
                src="https://a.nooncdn.com/cms/pages/20210824/a985b37cdf68df0944d99557dedd0372/drop-brand-05.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="80%" height="80%"
                src="https://a.nooncdn.com/cms/pages/20221012/37f037c8d251917918ba38da763fbb60/en_mb_eg-logo-07.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="80%" height="80%"
                src="https://a.nooncdn.com/cms/pages/20221012/37f037c8d251917918ba38da763fbb60/en_mb_eg-logo-0.png"
                alt=""></a></div>
                  </div>
          </div>
          <div class="d-flex flex-column" style="float:right; right: 100px;">
            <div><a class="text-decoration-none link-dark" href="#"> ازياء رجالى</a></div> 
             <div><a class="text-decoration-none link-dark" href="#">احذية</a></div>
             <div><a class="text-decoration-none link-dark" href="#"> ساعات</a></div>
             <div><a class="text-decoration-none link-dark" href="#"> النظارات</a></div>
             <div><a class="text-decoration-none link-dark" href="#"> الامتعة و الحقائب</a></div>

           </div>
      </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link link-dark fw-bolder" href="#" role="button" aria-expanded="false">موبيلات</a>
        <div class="dropdown-menu " style="left:0;">
          <div class="d-flex flex-row ">
          <div class="row ">
              <div class="col ms-2">
              <a href=""><img width="240px" height="370px"
src="https://z.nooncdn.com/cms/pages/20210413/05e3cb23daf67ccd318c9e9aca852093/ar_drop-02.png" alt=""></a>
                  </div>
                  <div class="col">
              <a href=""><img width="250px" height="370px"
                src="https://z.nooncdn.com/cms/pages/20210413/05e3cb23daf67ccd318c9e9aca852093/ar_drop-01.png"
                alt=""></a>
                  </div>
          </div>
          <div class="ms-4" >
              <div class="row">
                  <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px" 
                src="https://z.nooncdn.com/cms/pages/20210410/2a23ead9569718f23f16e78305f07230/drop-brand-03.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/cms/pages/20210410/2a23ead9569718f23f16e78305f07230/drop-brand-02.png"
                alt=""></a></div>
                      <div class="col col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/cms/pages/20210410/2a23ead9569718f23f16e78305f07230/drop-brand-01.png"
                alt=""></a></div>
                  </div>
               <br>
               <div class="row">
                  <div class="col col-lg-2 border" >
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/cms/pages/20210410/2a23ead9569718f23f16e78305f07230/drop-brand-06.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/cms/pages/20210410/2a23ead9569718f23f16e78305f07230/drop-brand-05.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/cms/pages/20210410/2a23ead9569718f23f16e78305f07230/drop-brand-04.png"
                alt=""></a></div>
                  </div>
              <br>
              <div class="row">
                  <div class="col col-lg-2 border" >
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/cms/pages/20210410/2a23ead9569718f23f16e78305f07230/drop-brand-09.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="80%" height="80%"
                src="https://z.nooncdn.com/cms/pages/20210410/2a23ead9569718f23f16e78305f07230/drop-brand-08.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="80%" height="80%"
                src="https://z.nooncdn.com/cms/pages/20210410/2a23ead9569718f23f16e78305f07230/drop-brand-07.png"
                alt=""></a></div>
                  </div>
          </div>
          <div class="d-flex flex-column" style="float:right; right: 100px;">
            <div><a class="text-decoration-none link-dark" href="#">  موبيلات وصلت جديد</a></div> 
             <div><a class="text-decoration-none link-dark" href="#">كل الموبيلات</a></div>
             <div><a class="text-decoration-none link-dark" href="#"> كل اجهزة التابلت</a></div>
             <div><a class="text-decoration-none link-dark" href="#"> سماعات اذن</a></div>
             <div><a class="text-decoration-none link-dark" href="#">  باور بانك </a></div>

           </div>
      </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link link-dark fw-bolder" href="#" role="button" aria-expanded="false">الالكترونيات</a>
        <div class="dropdown-menu " style="left:0;">
          <div class="d-flex flex-row ">
          <div class="row ">
              <div class="col ms-2">
              <a href=""><img width="240px" height="370px"
src="https://z.nooncdn.com/cms/pages/20210408/2792ffeaded707bd95f25bd124a83af9/ar_drop-02.png"                alt=""></a>
                  </div>
                  <div class="col">
              <a href=""><img width="250px" height="370px"
                src="https://z.nooncdn.com/cms/pages/20210408/2792ffeaded707bd95f25bd124a83af9/ar_drop-01.png"
                alt=""></a>
                  </div>
          </div>
          <div class="ms-4" >
              <div class="row">
                  <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px" 
                src="https://z.nooncdn.com/cms/pages/20210408/9852ea7d5c33973a1761053b129a047b/drop-brand-03.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src=" https://z.nooncdn.com/cms/pages/20210408/9852ea7d5c33973a1761053b129a047b/drop-brand-09.png"
                alt=""></a></div>
                      <div class="col col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/cms/pages/20210408/9852ea7d5c33973a1761053b129a047b/drop-brand-06.png"
                alt=""></a></div>
                  </div>
               <br>
               <div class="row">
                  <div class="col col-lg-2 border" >
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/cms/pages/20210408/9852ea7d5c33973a1761053b129a047b/drop-brand-04.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/cms/pages/20210408/9852ea7d5c33973a1761053b129a047b/drop-brand-08.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="100px" height="110px"
                src="https://z.nooncdn.com/cms/pages/20210408/9852ea7d5c33973a1761053b129a047b/drop-brand-01.png"
                alt=""></a></div>
                  </div>
              <br>
              <div class="row">
                  <div class="col col-lg-2 border" >
              <a  href=""><img width="100px" height="110px"
                src="https://a.nooncdn.com/cms/pages/20210725/16e8652696b98e99147acca517cc2c76/drop-brand-10.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="80%" height="80%"
                src="https://z.nooncdn.com/cms/pages/20210408/9852ea7d5c33973a1761053b129a047b/drop-brand-02.png"
                alt=""></a></div>
                      <div class="col col-lg-2 border">
              <a  href=""><img width="80%" height="80%"
                src="https://z.nooncdn.com/cms/pages/20210408/9852ea7d5c33973a1761053b129a047b/drop-brand-05.png"
                alt=""></a></div>
                  </div>
          </div>
          <div class="d-flex flex-column" style="float:right; right: 100px;">
            <div><a class="text-decoration-none link-dark" href="#">اجهزة اللابتوب و الاكسسوارات</a></div> 
             <div><a class="text-decoration-none link-dark" href="#">العاب الفيديو</a></div>
             <div><a class="text-decoration-none link-dark" href="#"> تخزين داتا</a></div>
             <div><a class="text-decoration-none link-dark" href="#"> اكسسوارات الكمبيوتر</a></div>
           </div>
      </div>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link link-primary fw-bolder border-start" href="#" role="button" aria-expanded="false"><mat-icon style="color: blue;">keyboard_arrow_down</mat-icon> جميع الفئات</a>
        <div class="dropdown-menu " >
          <div class="d-flex flex-column" style="float:left;">
            <div>
                <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">الموبايلات</a>
            </div>
            <div>
                <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">البقالة</a>
            </div>
            <div>
                <a href="" style="padding-left: 30%; padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">'الجمال والعناية الشخصية</a>
            </div>
            <div>
    
                <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">الأزياء</a>
            </div>
             <div>
    
                 <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">المنزل والمطبخ</a>
             </div>
             <div>
    
                 <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">'الرياضة واللياقة البدنية</a>
             </div>
             <div>
    
                 <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">منتجات الأطفال</a>
             </div>
             <div>
    
                 <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">مستلزمات السيارات</a>
             </div>
             <div>
    
                 <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">الكتب</a>
             </div>
             <div>
    
                 <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">الموسيقى</a>
             </div>
             <div>
                <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">منتجات الأطفال</a>
             </div>
             <div>
                <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">مستلزمات السيارات</a>
             </div>
             <div>
                <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">الكتب</a>
             </div>
             <div>
                <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">لوازم المكتب</a>
             </div>
             <div>
                <a href="" style="padding-right:7%;float: right; text-decoration: none; cursor: pointer;color: inherit;">الموسيقى</a>
             </div>

         </div>
        </div>
      </li>

  </ul>

