
<div style="height: 150px; margin-top: 50px; position:relative; z-index:0 ; padding-left: 20px;">
    <swiper
          [slidesPerView]="1"
          [spaceBetween]="10"
          [navigation]="true"
          [pagination]="{ clickable: true }"
        >
          <ng-template swiperSlide>
            <a href="">
              <img style="width:100px;height: 100; margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20220608/065ad7f82f5f7ac798cff386b9862f1d/ar_CBs-19.png" alt="">
              <span></span>
            </a>
            <a href="">
              <img style="width:100px;height: 100; margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20220608/065ad7f82f5f7ac798cff386b9862f1d/ar_CBs-18.png" alt="">
            </a>
            <a href="">
              <img style="width:100px;height: 100; margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20220630/5b0d90ace8e7eb3986c4dc1c14a48de5/ar_CBs-07.png" alt="">
            </a>
            <a href="">
              <img style="width:100px;height: 100;  margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20220630/5b0d90ace8e7eb3986c4dc1c14a48de5/ar_CBs-06.png" alt="">
            </a>
            <a href="">
              <img style="width:100px;height: 100;  margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20220630/5b0d90ace8e7eb3986c4dc1c14a48de5/ar_CBs-05.png" alt="">
            </a>
            <a href="">
              <img style="width:100px;height: 100;  margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20220523/992508c29f9f59eb64aef5bec42f1428/ar_CBs-14.png" alt="">
            </a>
            <a href="">
              <img style="width:100px;height: 100;  margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20211206/d0c75d40c77381b43e180d4d63d534b5/ar_CBs-06.png" alt="">
            </a>
            <a href="">
              <img style="width:100px;height: 100;  margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20211206/d0c75d40c77381b43e180d4d63d534b5/ar_CBs-01.png" alt="">
            </a>
            <a href="">
              <img style="width:100px;height: 100;  margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20220519/1ec88c2d9f5ac94388b0ed4e8bcd6c0f/ar_CBs-09.png" alt="">
            </a>
            <a href="">
              <img style="width:100px;height: 100;  margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20211207/6e25cd25b74d0c293d24014c15cc0bbc/ar_CBs-10.png" alt="">
            </a>
            <a href="">
              <img style="width:100px;height: 100;  margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20220630/5b0d90ace8e7eb3986c4dc1c14a48de5/ar_CBs-02.png" alt="">
            </a>
            <a href="">
              <img style="width:100px;height: 100;  margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20211206/d0c75d40c77381b43e180d4d63d534b5/ar_CBs-05.png" alt="">
            </a>
          </ng-template>
          <ng-template swiperSlide >
            <a href="">
                <img style="width:100px;height: 100;   margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20211206/d0c75d40c77381b43e180d4d63d534b5/ar_CBs-01.png" alt="">
              </a>
              <a href="">
                <img style="width:100px;height: 100;  margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20220519/1ec88c2d9f5ac94388b0ed4e8bcd6c0f/ar_CBs-09.png" alt="">
              </a>
              <a href="">
                <img style="width:100px;height: 100;  margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20211207/6e25cd25b74d0c293d24014c15cc0bbc/ar_CBs-10.png" alt="">
              </a>
              <a href="">
                <img style="width:100px;height: 100;  margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20220630/5b0d90ace8e7eb3986c4dc1c14a48de5/ar_CBs-02.png" alt="">
              </a>
              <a href="">
                <img style="width:100px;height: 100;  margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20211206/d0c75d40c77381b43e180d4d63d534b5/ar_CBs-05.png" alt="">
              </a>
            <a href="">
              <img style="width:100px;height: 100;  margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20211206/d0c75d40c77381b43e180d4d63d534b5/ar_CBs-04.png" alt="">
            </a>
            <a href="">
              <img style="width:100px;height: 100;  margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20211206/d0c75d40c77381b43e180d4d63d534b5/ar_CBs-03.png" alt="">
            </a>
            <a href="">
              <img style="width:100px;height: 100;  margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20211206/d0c75d40c77381b43e180d4d63d534b5/ar_CBs-02.png" alt="">
            </a>
            <a href="">
              <img style="width:100px;height: 100;  margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20220630/5b0d90ace8e7eb3986c4dc1c14a48de5/ar_CBs-04.png" alt="">
            </a>
            <a href="">
              <img style="width:100px;height: 100;  margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20220630/5b0d90ace8e7eb3986c4dc1c14a48de5/ar_CBs-01.png" alt="">
            </a>
            <a href="">
              <img style="width:100px;height: 100;  margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20211206/d0c75d40c77381b43e180d4d63d534b5/ar_CBs-08.png" alt="">
            </a>
            <a href="">
              <img style="width:100px;height: 100;  margin:30px; margin-top:0;" src="https://f.nooncdn.com/cms/pages/20220808/dbafa823cd0bee6c974e0246f5fc15c9/ar_CBs-01.png" alt="">
            </a>
          </ng-template>
        </swiper>
  </div>
       
    