
<div style="height: 300px;  position:relative; z-index:0">
  <swiper
        [slidesPerView]="1"
        [spaceBetween]="10"
        [navigation]="true"
        [pagination]="{ clickable: true }"
        [autoplay]="{
          delay: 2500,
          disableOnInteraction: false
        }"
      >
        <ng-template swiperSlide>
          <a href="">
            <img src="https://f.nooncdn.com/cms/pages/20221006/7351379ad589f47e1ad84a58c7cc88f0/en_dk_eg-hero-banner-01.png" alt="">
          </a>
        </ng-template>
        <ng-template swiperSlide>
          <a href="">
            <img src="https://f.nooncdn.com/cms/pages/20221004/80c80edb5fa4e61a1e33b7f0755de758/en_dk_eg-hero-banner-01.png" alt="">
          </a>
        </ng-template>
        <ng-template swiperSlide>
          <a href="">
            <img src="https://f.nooncdn.com/cms/pages/20221005/7bd6037749aa476d7a08f6ede7c1fdfe/Both/en_dk_eg-hero-banner-01.png" alt="">
          </a>
        </ng-template>
        <ng-template swiperSlide>
          <a href="">
            <img src="https://f.nooncdn.com/cms/pages/20221004/79550c18b57905e8d75acab2536bb8df/en_dk_eg-hero-01.png" alt="">
          </a>
        </ng-template>
        <ng-template swiperSlide>
          <a href="">
            <img src="https://f.nooncdn.com/cms/pages/20221005/cb620e6aae289761b7e8ba35984290b9/en_dk_eg-hero-banner-01.png" alt="">
          </a>
        </ng-template>
        <ng-template swiperSlide>
          <a href="">
            <img src="https://f.nooncdn.com/cms/pages/20221003/8fcdc2a0a322b17ba638ce2c85f06707/en_dk_eg-hero-banner-01.gif" alt="">
          </a>
        </ng-template>
        <ng-template swiperSlide>
          <a href="">
            <img src="https://f.nooncdn.com/cms/pages/20221005/aa3f58b205df347a94c756ffd969c24b/en_dk_eg-hero-banner-01.png" alt="">
          </a>
        </ng-template>
        <ng-template swiperSlide>
          <a href="">
            <img src="https://f.nooncdn.com/cms/pages/20221005/aa3f58b205df347a94c756ffd969c24b/en_dk_eg-hero-01.png" alt="">
          </a>
        </ng-template>
      </swiper>
</div>
     
  